.searchBarContainer{
    position: absolute;
    margin-left: 30vw;
}

.recipes-container{
    font-size: 100px;
    position: absolute;
    margin-top:6vw;
    
}

.my-recipes-page{
    position: absolute;
    margin-left: 5vw;
}

.recipes{
    background: lightblue;
    margin-top: 1.5rem;
    display: flex;
    width: 94vw;
    overflow: scroll;
    height:75vh;
    scrollbar-width: none;
}

.button{
    background: #97c83e;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border:2px solid white;
    cursor: pointer;
}